<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <!-- Déclarer le bouton de type submit à l'intérieur du  <form>  déclenche le comportement de soumission classique de HTML.  
      En ajoutant l'attribut  (ngSubmit) , on intercepte cette soumission et exécutez la méthode  onSubmit()  (que vous n'avez pas encore créée). -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">
          Nom de l'appareil
        </label>
        <!--  il faut signaler à Angular quels inputs correspondront à des  controls , c'est-à-dire des champs dont le contenu est à soumettre -->
        <input type="text" id="name" class="form-control"  name="name" ngModel>
      </div>
      <div class="form-group">
        <label for="status">
          État de l'appareil
        </label>
        <select id="status" class="form-control"  name="status" ngModel>
          <option value="allumé">Allumé</option>
          <option value="éteint">Éteint</option>
        </select>
      </div>
      <!-- il faut déclarer le bouton enregistrer comme étant de type submit -->
      <button class="btn btn-primary" type="submit"  [disabled]="f.invalid">Ajouter à la liste</button>
    </form>
  </div>
</div>