
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="appareils">Appareils</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="edit">Nouvel appareil</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="users">Utilisateurs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
<!-- <app-appareil-view ></app-appareil-view> -->
<router-outlet></router-outlet>
  </div>
</div>



