
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Appareils Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="appareils">Appareils</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="edit">Nouvel appareil</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="users">Utilisateurs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
<!-- <app-appareil-view ></app-appareil-view> -->
<router-outlet></router-outlet>
  </div>
</div>



