<nav class="navbar navbar-defaut">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <!-- en lieu et place de href, on utilise le routerLink pour éviter le rechargement de la page -->
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
      <li routerLinkActive="active"><a routerLink="edit">Nouvel appareil</a></li>
    </ul>
  </div>
  <div class="navbar-right">Vous êtes connecté depuis {{secondes}} secondes</div>
</nav>

<div class="container">
  <div class="row">
<!-- <app-appareil-view ></app-appareil-view> -->
<router-outlet></router-outlet>
  </div>
</div>



