<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mise à jour : {{lastUpdate | async | date : 'short'}}</p>
  <ul class="list-group">
    <app-appareil  *ngFor="let appareil of appareils; let i = index"
                   [appareilName]="appareil.name"
                   [appareilStatus]="appareil.status"
                   [index]="i"></app-appareil>
  </ul>
  
          
          <button type="button" class="btn btn-success"
                  (click)="onAllumer()">Tout allumer</button>
        
          <button class="btn btn-danger ml-5"
                  (click)="onEteindre()">Tout éteindre</button>
        
        <button class="btn btn-primary p-5"
                (click)="onSave()">Enregistrer les appareils</button>
        
        <button class="btn btn-primary ml-5"
                (click)="onFetch()">Charger les appareils en base</button>
  


</div>